$blue: #596A96
$orange: #F47950
$light-blue: #F0F8FF

$header-blue: #586A96
$background-blue: #666698

$brand-primary: $blue
$brand-info: $light-blue
$link-hover-color: $orange

$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1350px)

$grid-columns: 24
$grid-gutter-width-base: 15px

$headings-font-family: Lora
$font-size-base: 0.8rem

$navbar-inverse-color: black
$navbar-inverse-active-color: white
$navbar-inverse-toggler-border: rgba(black, .3)
$navbar-padding-x: 0
$navbar-padding-y: 0.2rem

$dropdown-min-width: 14rem
$dropdown-padding-y: 0.3rem

$sizes: (10: 10%, 25: 25%, 33: 33%, 40: 40%, 50: 50%, 66: 66%, 75: 75%, 100: 100%)

@import "~bootstrap/scss/bootstrap"

/** Utility Classes */
/* Auto Height for Images with Height Attributes */
.h-auto
  height: auto !important


/** General Site Design **/

/* Always Fill the Page */
html, body
  height: 100%
  margin: 0
  padding: 0

/* Add Purple Background */
body
  background-color: $background-blue
  padding-bottom: 15px

/* Change Font Color & Text Emphasis of Headings */
h1, h2, h3, h4, h5, h6
  color: $header-blue
  font-weight: bold


/* Add Spacing & White Backdrop */
#body-wrapper
  margin-bottom: 30px
  padding: 5px 15px 15px
  background-color: white
  box-shadow: black 0px 20px 32px
  +media-breakpoint-only(lg)
    width: 98%
  +media-breakpoint-down(md)
    width: 100%


.nav-outer-container
  background-color: $orange
  box-shadow: black 0px 6px 16px
  .container
    +media-breakpoint-down(md)
      width: 100%

#nav-menu
  nav.navbar
    cursor: pointer
    .navbar-toggler-label
      font-weight: bold
      color: black
    /* Remove Carets From Dropdown Menus */
    .dropdown-toggle.nav-link:after
      content: none
    .navbar-nav
      flex-wrap: wrap
    .navbar-nav > li
      /* Add Separators */
      border-left: 1px solid white
      +media-breakpoint-up(md)
        &:first-child
          border-left: none
      /* Emphasize Text & Reduce Size */
      > a
        font-weight: bold
        padding: 0.75em 1.25em
        color: black
      &.active > a
        color: white
      ul
        /* Remove Spacing for Continuous Hover Event */
        margin-top: 0
        /* Remove Border & Rounding */
        border: none
        border-radius: 0
        /* Set Sub-Menu Colors */
        background-color: $orange
        a
          color: black
        /* Push Each Nested Level of Sub-Menus Slightly More to the Right */
        li
          padding-left: 1rem
        /* Emphasize Links to Current Page */
        li.active > a
          color: white
          font-weight: bold
        /* Position Nested Sub-Menus to the Right of the Open Sub-Menu */
        li.dropdown
          > ul
            top: 0
            left: 99.9%
    /* Recolor on Active & Hover */
    .navbar-nav li
      &:hover, &.show
        background-color: $orange
        +media-breakpoint-up(sm)
          border-left-color: white
        > a
          color: white
          font-weight: bold
        & a:hover
          color: white
          font-weight: bold
  +media-breakpoint-only(md)
    /* Hide NavBar Search on Medium Screens */
    .google-search-div
      display: none


/* Google Search Boxes */
div.google-search-div
  z-index: 20000
  padding-top: 10px
  /* Fix Input Alignment */
  input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button
    box-sizing: content-box
    line-height: normal
  .gsc-control-cse
    background-color: transparent
    border: 0px hidden
    padding: 0px
    margin-top: -5px
  .gsc-search-box-tools .gsc-search-box .gsc-input
    padding-right: 0px
  /* Hide the X icon in the search box */
  div#google-search-div .gsib_b
    display: none
  td.gsc-search-button input.gsc-search-button
    background-color: $orange
    /* Reduce width of search button */
    padding: 6px 15px
    /* Darken button border */
    border-color: black



#site-header
  .banner-image img
    height: 80px
    +media-breakpoint-only(md)
      height: 100%
  #greeting-logout
    margin-right: 5px
    #header-cart-icon
      text-decoration: none
      i.fa
        font-size: 20px
        font-weight: 400
        vertical-align: bottom
  #header-buttons
    margin-top: 10px
    font-weight: bold
    button
      cursor: pointer
  .google-search-div
    width: 60%
    margin-left: auto


hr#header-content-divider
  /* Pull the dividing line to the edges of the middle section */
  margin-left: -15px
  margin-right: -15px


.sidebar
  /* Add Spacing between Nav & Content */
  margin-top: 0.5em
  +media-breakpoint-up(sm)
    margin-top: 0.25em
  &#left-sidebar, &#right-sidebar
    +media-breakpoint-up(xl)
      margin-top: 2em

  /* Stylize Widget Headers */
  h4.widget-title
    font-size: 1.1em
    font-weight: bold
    text-transform: uppercase
    border-top: 1px solid $gray-lighter
    border-bottom: 1px solid $gray-lighter
    padding: 3px 0
    margin-bottom: 12px
  /* Space Widgets Vertically */
  .widget
    +media-breakpoint-down(sm)
      margin: 1em 0
    +media-breakpoint-up(md)
      margin: 2.75em 0
    &:first-of-type
      margin-top: 0

#main-sidebar
  /* Advanced Ads Widget */
  .widget:nth-of-type(2), .widget:nth-of-type(3)
    /* Collapse adjacent ad widget spacing */
    margin-top: 0
    margin-bottom: 0
    /* Show Multiple Ads per Row on Small Screens */
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    > div
      display: inline-block
    img
      @extend .img-fluid
  /* WPAdverts Featured Ads Widget */
  .community-classifieds-widget
    .widget-title
      margin-bottom: 0
    .list-group-item
      border-left: 0
      border-right: 0
      border-radius: 0
      &:first-of-type
        border-top: 0
      &:last-of-type
        border-bottom: 0
      .classified-title
        font-size: 1.2em
        font-weight: bold
        padding-bottom: 0.25em

.center-column
  /* Style the Vertical Borders */
  &.center-column-store
    +media-breakpoint-up(md)
      border-left: solid 1px darken($gray-lightest, 5%)
    +media-breakpoint-up(xl)
      border-right: solid 1px darken($gray-lightest, 5%)
  +media-breakpoint-up(sm)
    border-right: solid 1px darken($gray-lightest, 5%)
  /* Push Vertical Borders Out */
  padding: 0 15px
  +media-breakpoint-up(sm)
    /* Add Spacing between Nav & Content */
    margin-top: 0.25em
    /* Add Spacing between Vertical Borders & Footer
    margin-bottom: 2em



/** WP Core **/
.alignleft, .aligncenter, .alignright
  margin-top: 0.5rem
  margin-bottom: 0.5rem
.alignleft
  @extend .float-left
  margin-right: 1rem
.aligncenter
  @extend .mx-auto
  display: block
  margin-left: 0.5rem
  margin-right: 0.5rem
.alignright
  @extend .float-right
  margin-left: 1rem
.alignnone
  @extend .float-none
.size-full
  @extend .img-fluid
.screen-reader-text
  clip: rect(1px, 1px, 1px, 1px)
  clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px)
  position: absolute !important
  white-space: nowrap
  height: 1px
  width: 1px
  overflow: hidden



/*** Content Styles ***/

/** General **/
#main
  /* Reduce Font Sizes */
  h1
    font-size: 1.7rem
  h2
    font-size: 1.3rem
  h3
    font-size: 1.1rem
  h4
    font-size: 1rem
  /* Style Pagination Links as Buttons */
  .paginate
    a
      @extend .btn
      @extend .btn-primary

/** Comments **/
#comments
  /* Reduce Size of Comment Author Text */
  h5
    font-size: 1.2rem
  /* Reduce Size of Comment Body Text */
  .comment-content
    font-size: 0.8rem


/** Archives **/
body.archive
  .posts
    /* Reduce Space Between Descriptions & Category Links */
    p
      margin-bottom: 0.5rem
    /* Equalize Spacing of Posts & Horizontal Rules */
    > div.post-summary:first-of-type
      margin-top: 2rem
    hr
      margin: 2rem 0

body.single
  .post-links
    a button
      padding: 0.25rem
      /* Wrap Link Text */
      white-space: normal
      /* Don't Center the Link Text */
      text-align: left !important



/*** Home Pages ***/

/** Site Home **/
body.home
  /* Increase the Regular Text Size to ~14pt */
  article
    font-size: 1.2rem
  .img-banner
    /* Fix Background Image Size in Chrome */
    .carousel-item.active, .carousel-item-next, .carousel-item-prev
      display: block !important
    /* Reduce Size of Text on Top of Banner for Smallest Screens */
    h1
      +media-breakpoint-only(xs)
        font-size: 1.65rem
        margin-bottom: 0
  /* Narrow the Text Below Initial Info Cards Headings */
  .info-cards p
    +media-breakpoint-only(xl)
      margin-right: 1.5rem
      margin-left: 1.5rem
    +media-breakpoint-down(sm)
      padding-left: 0.5rem
      padding-right: 0.5rem
    +media-breakpoint-up(md)
      padding-left: 1rem
      padding-right: 1rem
  /* Decrease Space Below WP Hustle Opt-In Widget */
  .inc_opt_shortcode_wrap
    margin-bottom: 15px


/** Directory Home **/
body.page-id-17
  article#post-17
    /* Fix the Ordering & Borders of the Input Element.
     *
     * The HTML is out of order so we can use the ~ sibling selector to style
     * the border of the entire input group when the input element is focused.
     */
    form#directory-search
      div.input-group
        input ~ .ig-left
          order: 1
          border-left: $border-width solid $input-border-color
          border-top-left-radius: $input-border-radius
          border-bottom-left-radius: $input-border-radius
        input
          order: 2
          border-top-left-radius: 0
          border-bottom-left-radius: 0
        input ~ .ig-right
          order: 3
          border-left-style: none
        input:focus ~ span
          border-top-color: $input-border-focus
          border-bottom-color: $input-border-focus
        input:focus ~ .ig-left
          border-left-color: $input-border-focus
        input:focus ~ .ig-right
          border-right-color: $input-border-focus

    /* Color all Card links like list-group items when hovered & clicked. */
    .card > a
      &, &:hover, &:active
        color: $body-color
      &:hover, &:active
        background-color: $list-group-hover-bg
        text-decoration: none

    /* Position & Scale the Featured Community images */
    .featured-communities .community-img
      height: 300px
      background-position: center
      background-repeat: no-repeat
      background-size: cover


/** Development Home **/
body.page-id-255787
  /* Increase the Regular Text Size to ~14pt */
  article#post-255787
    font-size: 1.2rem



/*** Plugin Customizations ***/

/** Directory **/
body.single-directory
  #elm-directory
    .tall
      margin: 6em 0
  /* Add Separation Between the Directory Filters */
  .directory-filters label
    border-left: 1px solid $gray-lighter
    padding: 0.25rem 0.5rem
    margin: 0
    &:first-of-type
      border-left: none
  .directory-listing
    /* Hide Overflowing Text in Status Card */
    .listing-status
      overflow-x: hidden
    .listing-info-blocks
      /* Use 2 Columns on Smaller Screens */
      +media-breakpoint-down(lg)
        column-count: 2
      /* Use 1 Column on the Smallest Screens */
      +media-breakpoint-only(xs)
        column-count: 1
        /* Fix Touching Cards */
        .card
          margin-bottom: 1em

      /* Center the Headings */
      h3
        text-align: center
      /* Fix the Left Spacing of the Info Block Content */
      ul
        list-style: none
        padding-left: 0
  /* Style the Quick Links */
  .directory-header-links
    text-align: center
    margin: 0.5rem 0
  /* Style the Search Bar */
  #frm_search_form
    text-align: center
    input[type="search"]
      display: inline-block
      margin-right: 0.5rem
      @extend .form-control
      +media-breakpoint-up(lg)
        width: 25%
      +media-breakpoint-down(md)
        width: 50%
    input[type="submit"]
      @extend .btn
      @extend .btn-primary



/** Formidable Forms **/
/* Forms */
.frm_forms
  /* Add Spacing Around Form */
  margin-top: 1.5rem
  margin-bottom: 1.5rem
  /* Style the Indicator for Required Fields */
  .frm_required
    color: $brand-danger
    font-weight: bold
  /* De-Emphasize Help Text */
  .frm_description
    color: $text-muted
    font-size: $small-font-size
    /* Reposition the Help Text for Sections */
    &.frm_section_spacing
      margin: -0.5rem 0 0.5rem;
  /* Emphasize Field Labels */
  .frm_primary_label
    font-weight: bold
  /* Style the General Inputs */
  input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]), select, textarea
    @extend .form-control
  /* Hide Hidden Inputs */
  .frm_form_field .frm_pos_none, .frm_ajax_loading, .frm_hidden
    display: none !important
  /* Stack Checkbox & Radio Fields */
  .frm_opt_container > div
    @extend .form-check
    label
      @extend .form-check-label
      input
        @extend .form-check-input
  /* Style the Field Wrappers & Labels */
  .frm_form_field
    @extend .form-group
    label
      @extend .form-control-label
  /* Fix Height of Scrollable Containers */
  .frm_scroll_box > .frm_opt_container
    height: 17em
    overflow-y: scroll
    overflow-x: hidden
  /* Style the Submit Buttons */
  .frm_final_submit
    @extend .btn
    @extend .btn-primary
  .frm_save_draft
    @extend .btn
    @extend .btn-secondary
  /* Fix The Column Sizes */
  fieldset, .frm_fields_container
    @extend .row
    > .frm_section_heading
      @extend .col-24
      @extend .row
    .frm_top_container, .frm_none_container, > h3, .frm_section_spacing, .frm_submit, .frm_html_container
      &:not(.frm_first_half):not(.frm_last_half):not(.frm_first_fourth):not(.frm_fourth):not(.frm_last_fourth)
        @extend .col-24
      &.frm_first_half, &.frm_last_half
        @extend .col-12
      &.frm_first_fourth, &.frm_fourth, &.frm_last_fourth
        @extend .col-6
  /* Align Text Inputs with Radio/Check Boxes in "Other" Fields */
  .frm_other_input
    max-width: 75%
    display: inline-block !important
    margin-left: 1em
  /* Style the Messages */
  .frm_message
    @extend .alert
    @extend .alert-info
  .frm_error_style
    @extend .alert
    @extend .alert-danger
  /* Style Input Errors */
  .frm_blank_field
    @extend .has-danger
    input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]), select, textarea
      @extend .form-control-danger
  .frm_error
    @extend .form-control-feedback

/* Style the Results Table */
.form_results
  @extend .table
  @extend .table-sm
  @extend .table-striped
  /* Hide the Footer */
  tfoot
    display: none

/* Style the Pagination */
.frm_pagination
  @extend .pagination
  @extend .justify-content-center
  li
    @extend .page-item
    &.dots, a
      @extend .page-link



/** Wiki **/
body.incsub_wiki div#main
    div.wiki_tabs
      /* Push Tab Groups Together */
      .left, .right
        float: left
      /* Hide Discussion & History Tabs */
      .incsub_wiki_link_discussion, .incsub_wiki_link_history
        display: none
      /* Style Tabs */
      ul
        @extend .nav
        @extend .nav-tabs
        li
          @extend .nav-item
          &.current a
            @extend .active
          a
            @extend .nav-link

    /* Style Breadcrumbs */
    div.incsub_wiki_top
      margin-bottom: 0
      padding: 0.38rem 0.5rem
      background-color: transparent
      @extend .breadcrumb
      > .incsub_wiki_crumbs
        @extend .active

    /* Remove Wiki Site Name */
    h3#siteSub
      display: none

    /* Remove Empty Space Above Article Title */
    div#wiki-content
      br:first-of-type, p:first-of-type
        display: none
        margin: 0

    form
      /* Style the Edit & Create Form Inputs */
      input[type="text"], input[type="checkbox"], select
        @extend .form-control

      /* Space Out Meta Sections */
      .incsub_wiki_meta_box
        padding: 0.5em 0

      /* Style the Buttons */
      .incsub_wiki_clear
        input
          @extend .btn
          @extend .btn-primary
        a
          @extend .btn
          @extend .btn-secondary

/* Cleanup Wiki 404 Create Page */
body.error404.incsub_wiki
  #main > .incsub_wiki
    > h3
      display: none
    .incsub_wiki_tabs
      border-bottom: none



/** WooCommerce **/
.woocommerce
  /* Make the Search/List Product Count Match the Height of the Ordering Select */
  .result-count
    line-height: calc(2rem + 2px);

  /* Make On Sale Badge Text More Visible */
  .onsale
    font-size: 1rem

  /* Color the Price Text Black & Prices Green */
  .price
    color: $body-color
    .amount
      color: $brand-success

  /* Remove Extra Spacing Around Variation Text */
  dl.variation
    &, > dt, > dd, > dd p
      margin-bottom: 0

  /* Color Markers for Required Fields Red */
  .required
    color: $brand-danger

  /* Order Details Product Metas */
  .order_details ul.wc-item-meta
    /* Hide Bullets & Fix Left Alignment/Spacing */
    list-style: none
    padding-left: 1rem
    /* Remove Vertical Spacing Between & After Metas */
    &, li > p
      margin-bottom: 0

  /* Category Sidebar Widget */
  &.widget_product_categories
    /* Push Categories to Left */
    ul
      padding-left: 1.5rem
    /* Emphasize Current Category in Sidebar Widget */
    .current-cat, .current-cat-parent
      > a
        &, &:hover, &:active
          color: $orange
          font-weight: bold
          text-decoration: none

  /* Cart Widget */
  .widget_shopping_cart
    /* Remove Horizontal Line Above First Item */
    tr:first-of-type > td
      border-top: none
    /* Fix the Width of the Product Image */
    td.mini-cart-image-cell
      width: 55px
      +media-breakpoint-only(md)
        width: 100px

  /* Products Widget */
  &.widget_products .product_list_widget
    h5
      font-size: 0.9rem
    /* Fix Size & Alignment of Placeholder Images */
    .woocommerce-placeholder
      height: auto
      max-width: 100%
      margin: 0 auto
    img
      +media-breakpoint-down(lg)
        height: 15em !important
        width: auto !important
        margin: 0 auto
      +media-breakpoint-down(sm)
        height: 5em !important

  /* Product List Cards */
  ul.products > li.product > div.card
    /* On Sale Badge */
    .onsale
      /* Position the Badge Over the Image */
      position: absolute
      top: 0
      left: 0.5em
      /* Push Badge Slightly Out of Card */
      margin-top: -0.75em
    /* Price & Add to Cart Section
    > .price-and-cart
      /* Move the Price & Button to Bottom of the Card */
      margin-top: auto
      .btn
        /* Add Space Between Price & Button */
        @extend .mt-2
        /* Make Top Corners of Button Flush With Sides of Card */
        border-top-left-radius: 0
        border-top-right-radius: 0
    /* Don't Underline Any Link Text On Hover/Focus */
    a:hover, a:focus
      text-decoration: none

  /* Product Details */
  &.single-product
    /* Properly Position Badge Over Product Image */
    .onsale
      position: absolute
      top: -0.5em
      left: 1.5em
    /* Fix Font Weight of Name Your Price Labels & Inputs */
    .nyp
      label, input
        font-weight: normal
    /* Fix Product Image Widths */
    .product .woocommerce-product-gallery .woocommerce-product-gallery__image img
      @extend .img-fluid
    /* Fix Spacing Around Review Comments */
    #comments ol.commentlist
      margin-top: 1.5em;
      padding-left: 1em;
    /* Hide Suggested Price for NYP Subscriptions */
    div.product-type-variable-subscription.nyp-product .woocommerce-variation-price
      display: none

  /* Carts */
  .widget_shopping_cart, .cart
    /* Don't Underline Remove Links */
    .remove:hover, .remove:active
      text-decoration: none
  /* Prevent Quantity Input Table Columns from Getting Too Big */
  table.cart .product-quantity
    max-width: 7em
  /* Fix the State/County Shipping Calculator Field for Non-U.S. Countries */
  .cart_totals #calc_shipping_state
    @extend .form-control

  /* Checkout */
  .checkout
    /* Style Fields with Errors */
    .woocommerce-invalid
      @extend .has-danger
    /* Cleanup Payment Method Cards */
    li.wc_payment_method
      &.payment_method_paypal
        a.about_paypal
          float: right
        img
          max-width: 50%
        .payment_box
          p
            margin-bottom: 0
      &.payment_method_stripe div.payment_box p.woocommerce-SavedPaymentMethods-saveNew
        margin-bottom: 0

  /* My Account */
  > .woocommerce-account
    /* Remove Space Below Customer Addresses */
    .woocommerce-customer-details .addresses address
      margin-bottom: 0


/** WPAdverts **/
/* Hide the Default Send Message & Phone Buttons */
.adverts-show-contact-form, .adverts-single-actions span.adverts-button
  display: none !important

/* Darken the Background of Featured Classifieds */
.list-group-item.list-group-item-action.featured-classified
  background-color: darken($brand-info, 10%)
  &:hover, &:active, &:focus
    background-color: darken($brand-info, 3%)

/* Fix the Height of the Image Carousel */
#advert-carousel .carousel-item > img
  height: 350px

.adverts-contact-box
  /* Fix Spacing Between Send Message Button & Contact Form */
  margin-top: 0 !important

/* Add Spacing Below Map */
#wpadverts-mal-map-single
  @extend .mb-3

/* Style Payment Options */
.adverts-pricings-list
  text-align: center
  .adverts-listing-type-x
    display: inline-block
    margin: 5px 2px
    @extend .card
    @extend .card-block
    .adverts-listing-type-cost
      color: $brand-success
      font-weight: bold
